meta(charset="UTF-8")
meta(name="description", content="")
meta(name="keywords",    content="")
meta(name="author",      content="Kostiantyn Zinevych")
meta(name="viewport"     content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
link(rel='stylesheet', href='css/style.css')
title #{title}
//script(src="js/")